<% content_for :tagline do %>
  <%= render :partial => "shared/tagline" %>
<% end %>

<%= form_for @finding, :multipart => true do |f| %>
  <%= error_messages_for(@finding, @finding.image) %>
  <%= f.fields_for @image do |i| %>
    <%= i.label :title %>
    <%= i.text_field :title %>
    <%= i.label :src %>
    <%= i.text_field :src %>
    <%= i.label :add %>
    <%= i.file_field :pending_upload %>
  <% end %>
  <%= f.label :tag_list %>
  <%= f.text_field :tag_list %>

  <div id="autocomplete">
    <div class="default"></div>
    <ul class="feed">
    </ul>
  </div>

  <%= f.submit %>
<% end %>
