<div class="image">
  <p>
    <%=link_to(h(truncate(image.title)), asset_url(image.src))%>
    <br/>
    <%=truncate(File.basename(image.src))%>
    <br/>
    found <%=time_ago_in_words(image.latest_finding.created_at)%> ago
    <% if image.findings.count > 1 then %>
      by <%=image.findings.count%> other people
    <% end %>
  </p>
  <a href="<%=image_path(image.id)%>">
    <div class="primary-wrapper">
      <div class="spinner"></div>
      <div class="primary" style="background-image: url(<%=asset_url((image.src))%>)">
        <%#=image_tag(asset_url((image.src)))%>
      </div>
    </div>
  </a>
  <div class="secondary-wrapper">
    <% image.similar_images.each { |similar_image| %>
      <a href="<%=image_path(similar_image.id)%>">
        <div class="similar" style="background-image: url(<%=asset_url((similar_image.src))%>)">
          <%#=image_tag(asset_url((image.src)))%>
        </div>
      </a>
    <% } %>
  </div>
</div>
