<% content_for :sidebar do %>
  <p>
    <% if person_signed_in? %>
      <%= link_to "profile", edit_person_registration_path %>
    <% else %>
      <%= link_to "sign up", new_person_registration_path %>
    <% end %>
  </p>
<% end %>

  <%= render :partial => "shared/image", :collection => @recent_images %>

  <%=will_paginate(@recent_images)%>

<%= form_for :finding do |finding| %>
  <%=finding.label(:tag_list)%>
  <%=finding.text_field(:tag_list)%>
  <%= finding.fields_for(:image) do |image| %>
    <%=image.label(:title)%>
    <%=image.text_field(:title)%>
    <%=image.label(:src)%>
    <%=image.text_field(:src)%>
  <% end %>
  <%=finding.submit%>
<% end %>
