<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Centerology</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <h1>
        <%= link_to("centerology", root_path) %>
        <% if content_for? :tagline %>
          &#126;
          <%= yield :tagline %>
        <% end %>
      </h1>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <div id="content">
      <div class="notice"><p><%= notice %></p></div>
      <div class="alert"><p><%= alert %></p></div>
      <%= yield %>
    </div>
    <div id="footer">
      <p>
        &copy; <%=link_to("Land of the Rising Code", "http://risingcode.com")%>
      </p>
    </div>
    <div id="risingcode-grid"><canvas id="risingcode-canvas"></canvas></div>
  </body>
</html>
