<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Centerology</title>
    <meta name="x-viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render :partial => "shared/shaders" %>
  </head>
  <body>
    <div id="header">
      <h1>
        <%= link_to(request.host, root_path) %>
        <% if content_for? :tagline %>
          &#126;
          <%= yield :tagline %>
        <% end %>
      </h1>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <div id="content">
      <% if notice %>
        <div class="notice"><p><%= notice %></p></div>
      <% end %>
      <% if alert %>
        <div class="alert"><p><%= alert %></p></div>
      <% end %>
      <%= yield %>
      <div id="footer">
        <p>
          &copy; <%=link_to("Land of the Rising Code", "http://risingcode.com")%>
        </p>
      </div>
    </div>
    <div id="risingcode-grid"><canvas id="risingcode-canvas"></canvas></div>
  </body>
</html>
